* {
    box-sizing: border-box;
}
body {
    width: 1000px;
    margin: 15px auto;
    background-color: rgb(242, 242, 242);
    padding: 20px 150px 60px;
}
.slogan {
    margin-top: -50px;
    float: right;
    font-style: italic;
}
.main {
    height: 900px;
    border: 1px solid gray;
}
.left {
    float:left;
    margin-top: -34px;
    height: 127px;
    border-radius:90%;
}
.right {
    margin-top: -34px;
    height: 127px;
    border-radius:90%;
    float: right;
  
}

.block {
    padding-top: 35px;
    text-align: center;
    border-bottom: solid grey;
}
h3 {
    text-align: center;
}
.blck2 {
    
    background-color: #f8f8f8;
    border-bottom: solid grey;
}
.clearfix {
    clear:both;
}