body {
  background-color: #d4d4d4;
}
h3 {
  text-align: center;
}
.Pepper {
  border: solid gray;
  border-radius: 20px;
  float: left;
  text-align: center;
  width: 180px;
  height: 230px;
  padding-top: 20px;
  margin-top: 5px;
  margin-right: 5px;
}
.Apple {
  border: solid gray;
  border-radius: 20px;
  float: left;
  text-align: center;
  width: 180px;
  height: 230px;
  padding-top: 20px;
  margin-top: 5px;
  margin-right: 5px;
}
.Cheese {
  border: solid gray;
  border-radius: 20px;
  float: left;
  text-align: center;
  width: 180px;
  height: 230px;
  padding-top: 20px;
  margin-top: 5px;
  margin-right: 5px;
}
.Corn {
  border: solid gray;
  border-radius: 20px;
  float: left;
  text-align: center;
  width: 180px;
  height: 230px;
  padding-top: 20px;
  margin-top: 5px;
  margin-right: 5px;
}
.Mushroom {
  border: solid gray;
  border-radius: 20px;
  float: left;
  text-align: center;
  width: 180px;
  height: 230px;
  padding-top: 20px;
  margin-top: 5px;
  margin-right: 5px;
}

.Garlic {
  border: solid gray;
  border-radius: 20px;
  float: left;
  text-align: center;
  width: 180px;
  height: 230px;
  padding-top: 20px;
  margin-top: 5px;
  margin-right: 5px;
}
.Beef {
  border: solid gray;
  border-radius: 20px;
  float: left;
  text-align: center;
  width: 180px;
  height: 230px;
  padding-top: 20px;
  margin-top: 5px;
  margin-right: 5px;
}
.Fish {
  border: solid gray;
  border-radius: 20px;
  float: left;
  text-align: center;
  width: 180px;
  height: 230px;
  padding-top: 20px;
  margin-top: 5px;
  margin-right: 5px;
}
.Eggs {
  border: solid gray;
  border-radius: 20px;
  float: left;
  text-align: center;
  width: 180px;
  height: 230px;
  padding-top: 20px;
  margin-top: 5px;
  margin-right: 5px;
}
.Coriander {
  border: solid gray;
  border-radius: 20px;
  float: left;
  text-align: center;
  width: 180px;
  height: 230px;
  padding-top: 20px;
  margin-top: 5px;
  margin-right: 5px;
}
.clearfix {
  clear: both;
}
hr {
  margin-top: 30px;
}
