.img {
  float: left;
  width: 350px;

  /* padding-right: 10px; */
  /* border: 3px green ; */
  
  border-radius: 20px;
  box-shadow: 6px 6px 6px grey;
  cursor: pointer;
  margin-top: 10px;
}
.img2 {
  float: left;
  height: 225.25px;
  border-radius: 20px;
  float: right;
  box-shadow: 6px 6px 6px gray;
  cursor: pointer;
  margin-top: 10px;
}
.im3 {
  display: block;
  margin: auto;
  border-radius: 40px;
  box-shadow: 6px 6px 6px gray;
}
.clearfix {
  clear:both;
}