body {
  background-color: #d4d4d4;
}
h3 {
  text-align: center;
}
.main {
  border: solid gray;
  border-radius: 20px;
  float: left;
  text-align: center;
  width: 180px;
  height: 230px;
  padding-top: 20px;
  margin-top: 5px;
  margin-right: 5px;
  cursor: pointer;
}

.clearfix {
  clear: both;
}
hr {
  margin-top: 30px;
}
